In [16]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as pyplot

### Get Data

In [17]:
raw = pd.read_csv('./Global_terrorism.csv')

C:\Users\HP\AppData\Local\Temp\ipykernel_18008\4281722657.py:1: DtypeWarning: Columns (4,6,31,33,61,62,63,76,79,90,92,94,96,114,115,121) have mixed types. Specify dtype option on import or set low_memory=False.
  raw = pd.read_csv('./globalterrorismdb_0718dist.csv')

### Explore data

In [18]:
raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 181691 entries, 0 to 181690
Columns: 135 entries, eventid to related
dtypes: float64(55), int64(22), object(58)
memory usage: 187.1+ MB

In [19]:
raw.shape

(181691, 135)

In [20]:
raw.head(2)

,eventid,iyear,imonth,iday,approxdate,extended,resolution,country,country_txt,region,...,addnotes,scite1,scite2,scite3,dbsource,INT_LOG,INT_IDEO,INT_MISC,INT_ANY,related
0,197000000001,1970,7,2,NaN,0,NaN,58,Dominican Republic,2,...,NaN,NaN,NaN,NaN,PGIS,0,0,0,0,NaN
1,197000000002,1970,0,0,NaN,0,NaN,130,Mexico,1,...,NaN,NaN,NaN,NaN,PGIS,0,1,1,1,NaN

### Data cleaning

#### Remove unwanted columns

In [21]:
columns_to_remove = [
    'eventid','approxdate','resolution','country','region','provstate','latitude','longitude','specificity','alternative_txt','attacktype2_txt','vicinity','location','summary','crit1','crit2','crit3','doubtterr','alternative','multiple','success','suicide','attacktype1','attacktype2','attacktype3','attacktype3_txt','targtype1','targsubtype1','corp1','target1','natlty1','natlty1_txt','targtype2','targtype2_txt','targsubtype2','targsubtype2_txt','corp2','target2','natlty2','natlty2_txt','targtype3','targtype3_txt','targsubtype3','targsubtype3_txt','corp3','target3','natlty3','natlty3_txt','gname','gsubname','gname2','gsubname2','gname3','gsubname3','motive','guncertain1','guncertain2','guncertain3','individual','nperps','nperpcap','claimed','claimmode','claimmode_txt','claim2','claimmode2','claimmode2_txt','claim3','claimmode3','claimmode3_txt','compclaim','weaptype1','weaptype1_txt','weapsubtype1','weapsubtype1_txt','weaptype2','weaptype2_txt','weapsubtype2','weapsubtype2_txt','weaptype3','weaptype3_txt','weapsubtype3','weapsubtype3_txt','weaptype4','weaptype4_txt','weapsubtype4','weapsubtype4_txt','weapdetail','nkill','nkillus','nkillter','nwound','nwoundus','nwoundte','property','propextent','propextent_txt','propvalue','propcomment','ishostkid','nhostkid','nhostkidus','nhours','ndays','divert','kidhijcountry','ransom','ransomamt','ransomamtus','ransompaid','ransompaidus','ransomnote','hostkidoutcome','hostkidoutcome_txt','nreleased','addnotes','scite1','scite2','scite3','dbsource','INT_LOG','INT_IDEO','INT_MISC','INT_ANY','related'
]

raw.drop(labels=columns_to_remove,axis=1,inplace=True)
raw.head(2)

,iyear,imonth,iday,extended,country_txt,region_txt,city,attacktype1_txt,targtype1_txt,targsubtype1_txt
0,1970,7,2,0,Dominican Republic,Central America & Caribbean,Santo Domingo,Assassination,Private Citizens & Property,Named Civilian
1,1970,0,0,0,Mexico,North America,Mexico city,Hostage Taking (Kidnapping),Government (Diplomatic),"Diplomatic Personnel (outside of embassy, cons..."

#### Rename Columns

In [23]:
new_coliumn_names = {
    'iyear':'Year',
    'imonth':'Month',
    'iday':'Day',
    'extended':'IsExtended',
    'country_txt':'Country',
    'region_txt':'Region',
    'city':'City',
    'attacktype1_txt':'Attack_type',
    'targtype1_txt':'Target',
    'targsubtype1_txt':'Sub_target'
}
raw.rename(columns=new_coliumn_names,inplace=True)

,Year,Month,Day,IsExtended,Country,Region,City,Attack_type,Target,Sub_target
0,1970,7,2,0,Dominican Republic,Central America & Caribbean,Santo Domingo,Assassination,Private Citizens & Property,Named Civilian
1,1970,0,0,0,Mexico,North America,Mexico city,Hostage Taking (Kidnapping),Government (Diplomatic),"Diplomatic Personnel (outside of embassy, cons..."

new_columns_names =

#### Replace Extended column's values

In [24]:
raw['IsExtended'].replace({0:'No',1:'Yes'},inplace=True)
raw.head(2)

,Year,Month,Day,IsExtended,Country,Region,City,Attack_type,Target,Sub_target
0,1970,7,2,No,Dominican Republic,Central America & Caribbean,Santo Domingo,Assassination,Private Citizens & Property,Named Civilian
1,1970,0,0,No,Mexico,North America,Mexico city,Hostage Taking (Kidnapping),Government (Diplomatic),"Diplomatic Personnel (outside of embassy, cons..."

### Save the output

In [ ]:
# raw.to_excel('Data_salaries_output.xlxs',sheet_name="salaries")
# # 
# with pd.ExcelWriter('Data_salaries_output.xlxs',engine='xlsxwriter') as excel_writer:
#     raw.to_excel(excel_writer, sheet_name='salaries', index=False)
raw.to_csv('Global_terrorism_output.csv')